<!DOCTYPE HTML>
<html>
    <head>
        <% include partials/head %>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <% include partials/header %>
        <main>
            <h1><%= title %></h1>
            <div>
                <table class="table">    
                    <tr>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Price</th>
                    <% Array.from(tracks).forEach( (track) => { %>
                        
                        <tr>
                            <td>
                                <h6><%= track.name %></h6>
                            </td>   
                            <td>
                                <h6><%= track.artistName %></h6>
                            </td>
                            <td>
                                <h6><%= track.price %></h6>
                            </td>
                        </tr>
                    <% }); %>
                </table>
            </div>
        </main>
    </body>
</html>